@import "tailwindcss";

@layer utilities {
    .card-size {
        width: 22vw;
        height: 33vw; /* 22 * 1.5 */

        /* Constrain by height to ensure 3 vertical rows fit comfortably */
        max-height: 26vh;
        max-width: 17.33vh; /* 26vh / 1.5 */
    }
}
